<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleVue.css">
</head>
<body>
    <div id="boards">
        <h2>Dato n, trovare tutte le possibili posizioni di n regine, su una scacchiera n x n , in modo tale da non potersi mangiare l’una con le altre.</h2>
        <h3>Le regine possono muoversi in tutte le direzioni, ovvero orizzontale, verticale e diagonale</h3>
        <div v-if="load && num > 0">
            caricando...
        </div>

        <div v-if="alert">
            <h4 v-if="alert > 10">
                {{alert}} è abbastanza alto, il programma dovrebbe
                creare e mostrare troppe caselle
            </h4>
            <h4 v-else>
                {{alert}} è un numero troppo piccolo
            </h4>
        </div>
        <div class="text">
            <label for="number">Quante regine ? </label>
            <input id="number" min="1" max="10" @keyup.enter="(num <= 10 && num > 0) ? start() : alertP()" v-model="num" type="number">
            <span v-if="result.length > 0">Ci sono <strong>{{result.length}}</strong> risultati</span>
        </div>
        <div v-if="result.length > 0 && !load" class="boards">
            <div 
                :style="(result.length > 10) ? 'width: 340px; height: 340px;' : null"
                v-for="(box,index) in result" 
                class="queens-box"
            >
                <div :style="`height:${dim}%; `" class="box" v-for="(row,index) in box">
                    <div 
                        v-for="(col,index) in row"
                        :style="`width:${dim}%;`"
                        :class=" (col == 'Q') ? (result.length == 1) ? 'queen-alone' : 'queen' : null" 
                        class="box"
                    >
    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="mainVue.js"></script>
</body>
</html>