<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleVue.css">
</head>
<body>
    <div id="boards">
        <h1>Ciao</h1>
        <div v-if="load && num > 0">
            caricando...
        </div>

        <div v-if="alert">
            <h4 v-if="alert > 10">
                {{alert}} è abbastanza alto, il programma dovrebbe
                creare e mostrare troppe caselle
            </h4>
            <h4 v-else>
                {{alert}} è un numero troppo piccolo
            </h4>
        </div>
        <input min="1" max="10" @keyup.enter="(num <= 10 && num > 0 && num != 2 && num != 3) ? start() : alertP()" v-model="num" type="number">

        <div v-if="result.length > 0 && !load" class="boards">
            <div v-for="(box,index) in result" class="queens-box">
                <div :style="`height:${dim}%; `" class="box" v-for="(row,index) in box">
                    <div 
                        v-for="(col,index) in row"
                        :style="`width:${dim}%;`"
                        :class=" (col == 'Q') ? 'queen' : null" 
                        class="casella"
                    >
    
                    </div>
                </div>
            </div>
        </div>

        <div class="boards" v-else-if="alert">
            <h2>Non ci sono risultati</h2>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="mainVue.js"></script>
</body>
</html>