#boards{
    width: 700px;
    margin: 0 auto;
    background-color: silver;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#boards .board{
  /*  width: 300px;
    position: relative;
    background-color: red;
    height: 300px;*/
}

#boards .queens-box{
  /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    margin: 10px 0;
    width: 240px;
    height: 240px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

#boards .queens-box .casella{
    /* width: 16.67%;
     height: 16.67%;*/
     overflow: hidden;
     outline: 1px solid yellow;
 }

 #boards .queens-box .casella.queen{
    background-image: url(img/queen.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
 }